# Dependencies
node_modules

# Build output
dist

# Environment files
.env
.env.*
!.env.example

# Test files
**/__tests__
**/*.test.ts
**/*.spec.ts
coverage
jest.config.js

# Development files
*.log
npm-debug.log*

# IDE and editor files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Uploads (mounted as volume in production)
uploads/*
!uploads/.gitkeep

# Documentation
*.md
!README.md
